<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT 
        <div class="jumbotron text-center">
            <h1>Total no of rooms available<span class="label label-info">{{ avrooms.length }}</span></h1>
        </div>

        <!-- TODO LIST 
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos 
                <div class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo._id }}
                    </label>
                </div>

            </div>
        </div>-->

        <!-- FORM TO CREATE TODOS -->
       <!-- <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form ng-submit="submitForm()">
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                       <!-- <input type="text" class="form-control  text-center" placeholder="room code" ng-model="code">
						<input type="text" class="form-control  text-center" placeholder="type id" ng-model="tid">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS 
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                </form>
            </div>
        </div>-->

		<div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form ng-submit="getavailablerooms()">
                    <div class="form-group">
					<h4>Select type of room</h4>
		<div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
              <!-- <div class="radio" ng-repeat="type in types" >
                    <label>
                        <input type="radio" name="ty" ng-model="$parent.stype" ng-value="type.type" ng-click="setType(type.type)"> {{ type.type }}
                    </label>
                </div>-->
				<select ng-model="stype">
        <option ng-repeat="type in types" value="{{type.type}}" ng-click="setType(type.type)">{{ type.type }}</option>
      </select>

            </div>
        </div>
				<div>currently selected: {{stype}}</div>
                        
                       Checkin :<input type="date" class="form-control  text-center" placeholder="" ng-model="cin">
						Check out:<input type="date" class="form-control  text-center" placeholder="" ng-model="cout">
                    </div>

                    
                    <button type="submit" class="btn btn-primary btn-lg">Get</button>
                </form>

				<div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div  >
                    <label>
                       Type of Room <p>{{ avroom.type}}</p>Room Id<p></p>
                    </label>
                </div>

            </div>
		<form ng-submit="bookroom(cin,cout,avroom.type,avroom._id,email)">
                    <div class="form-group">
					
		<div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <input type="text" class="form-control  text-center" placeholder="enter email" ng-model="email">
					<button type="submit" class="btn btn-primary btn-lg" >book</button>
                

            </div>
        </div>

		<h1>Your Invoice is</h2>
			
			<h5>{{invoice.bcin}}</h5>
			<h5>{{invoice.bcout}}</h5>
			<h5>{{invoice.btype}}</h5>
			<h5>{{invoice.bdays}}</h5>
			<h5>{{invoice.bonetarrif}}</h5>
			<h5>{{invoice.bttarrif}}</h5>
       <!-- </div>
		<div>
		<p>{{allocatedroom._d}}</p>
		</div>
		<!--
<h3>Enter checkin and checkout date</h3>
		<div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form ng-submit="getavailablerooms()">
                    <div class="form-group">

                        
                       Checkin :<input type="date" class="form-control  text-center" placeholder="" ng-model="cin">
						Check out:<input type="date" class="form-control  text-center" placeholder="" ng-model="cout">
                    </div>

                    
                    <button type="submit" class="btn btn-primary btn-lg">Get</button>
                </form>
            </div>
        </div>

		<div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
               <!-- <div class="checkbox" ng-repeat="avroom in avrooms">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ avroom._id }}
                    </label>
                </div>

            </div>
        </div>

    </div>-->

</body>
</html>